.update{
    background: #000;
    padding: 5rem 10rem;

}

.update__head-title{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
}

@media (max-width: 768px){
    .update{
        padding: 5rem 2rem;
        padding-bottom: 2rem;;
    }
    .update__head-title{
        font-size: 25px;
    }
}