.bseller{
    background: #000;
    padding: 15rem 10rem 2rem 10rem;
}

.bseller__head{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bseller__head-title{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
}

.bseller__head-link{
    background: #fff;
    border-radius: 50px;
    color: #9063e2;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 1rem 2.5rem;
    transition: 0.5s;
}

.bseller__head-link:hover{
    background: #9063e2;
    color: #fff;
}