.header{
    background: #18063B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 5.5rem;
}

@media (max-width: 410px) {
    .header{
        width: 100vw - 2rem;
        padding: 0 1rem;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .header{
        padding: 0.5rem;
        max-width: 100vw;
    }
}