.category{
    align-items: flex-start;
    background: rgb(47, 46, 46);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem ;
    width: auto;
}

.category__category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.category__card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category__card-container{
    margin-top: 4rem;
    width: 450px;
    height: 530px;;
}

.category__card-img{
    border-radius: 40px;
    width: 450px;
    height: 530px;
    transition: 0.5s;
   
}

.category__card-text{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

@media (max-width: 768px){
    .category{
        padding: 5rem 2rem;
        padding-bottom: 2rem;
    }
    .category__card{
        height: 620px;
    }
    .category__card-text{
        margin-top: 1rem;
        font-size: 22px;
    }
    .category__category{
        flex-direction: column;
        justify-content: center;
    }
    .category__card-img{
        width: 330px;
    }
    .category__card-container{
        width: 330px;
    }
}