.relevant__cover{
    background: url(../../../img/Cyber\ kid\ cover.webp);
    background-position: center;
    
    border-radius: 50px;
    position: relative;
    left: 300px;
    top: 108px;
    width: 620px;
    height: 720px;
    z-index: 0;
}