.info{
    display: flex;
    justify-content: space-between;
    padding: 5rem 10rem;
    background: #000;
    border-bottom: 1px solid gray;
}

.info__title{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.info__item{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 2rem 0;
    width: 370px;
}

.logo{
    width: 150px;
    height: 150px;
}