.mainHead{
    background: #000000;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0 3rem;
}

.mainHead__p{
    color: aliceblue;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}