.oferta{
    background: #000;
    height: 1180px;
}

.oferta__container{
    display: flex;
    top: 0;
    left: 0;
    position: relative;
}

.oferta__img1{
    border-radius: 40px;
    position: absolute;
    top: 5rem;
    left: 18rem;
    width: 550px;
}

.oferta__img2{
    border-radius: 40px;
    position: absolute;
    top: 18rem;
    left: 49rem;
    width: 550px;
    overflow: hidden;
}

.oferta__img3{
    border-radius: 40px;
    position: absolute;
    top: 13rem;
    left: 72rem;
    width: 550px;
    overflow: hidden;
}

.oferta__card{
    align-items: center;
    background: #9063e2;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 750px;
    height: 450px;
    position: absolute;
    z-index: 1000;
    top: 145px;
    left: 390px;
}

.oferta__card-title{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.oferta__card-descuento{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 180px;
    font-weight: 700;
}

.oferta__card-descr{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: 700;
}

.oferta__card-btn{
    background: #fff;
    border: 3px solid #9063e2;
    border-radius: 100px;
    color: #9063e2;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 1rem;
    transition: 0.5s;
}

.oferta__card-btn:hover{
    border: #fff 3px solid;
    background: #9063e2;
    color: #fff;
}

@media (max-width: 768px){
    .oferta__card{
        width: 320px;
        height: 250px;
        left: 25px;
        top: 2rem;
    }
    .oferta__card-title{
        font-size: 17px;
        font-weight: 500;
    }
    .oferta__card-descuento{
        font-size: 50px;
    }
    .oferta__card-descr{
        font-size: 30px;
    }
    .oferta__card-btn{
        font-size: 13px;
        padding: 0.7rem 0.6rem;
        word-spacing: 0.2em;
    }
    .oferta__img1{
        left: 35px;
        top: 320px;
        width: 180px;
        border-radius: 30px;
    }
    .oferta__img2{
        width: 180px;
        border-radius: 30px;
        left: 175px;
        top: 470px;
    }
    .oferta__img3{
        width: 180px;
        border-radius: 30px;
        left: 35px;
        top: 670px;
    }
    .oferta{
        height: 950px;
    }
}